google-chrome/
google-chrome
Safe\ Browsing/
evince
nautilus
regolith3
.bash_history
config/.config/google-chrome/**
*.lock
.emacs.d/elpa/archives/*
.emacs.d/history
.emacs.d/places
.emacs.d/recentf
auto-save-list
eln-cache
.emacs~
session*
