.config/goa-1.0/
.config/google-chrome/
.config/user-dirs.locale
.config/xdg-terminals.list
.emacs.d/elpa/
.emacs.d/history
.emacs.d/org-roam.db
.emacs.d/session.*
.*~
.config/transmission/*
config/transmission/*
.config/goa-1.0/
.config/google-chrome/
.config/user-dirs.locale
.config/xdg-terminals.list
.emacs.d/elpa/
.emacs.d/history
.emacs.d/org-roam.db
.emacs.d/session.*
.*~
